h1{
color: darkgreen;

}
body{
background-color: coral ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box-1{
    background-color:gray;
    color: cornsilk;
}
.container{
    width: 500px;
    margin: auto;
}
.myform{
    padding: 50px;
}
.postioningbox{
    width:800px;
    height:500px;
    border:1px solid blueviolet;
    background-image: url('../images/bgimage.jpg');
}